## Arithmetic Operator:

In [21]:
x = 3
y = 4.5
result_add = x + y

In [5]:
print(result_add)

7.5

In [6]:
print(type(result_add))

<class 'float'>

In [7]:
result_mul = x * y
print(result_mul)

13.5

In [8]:
result_div = x/y
print(result_div)

0.6666666666666666

In [12]:
y=13
x=2
result_rem = y % x
print(result_rem)

1

In [15]:
result_floor = y // x
print(result_floor)

6

### Remainder explanation:
10 = 4*2 + 2
11 = 4*2 + 3
9 = 4*2 + 1
### Floor explanation:
13 = 6*2 + 1 //For floor
Formula for floor i.e //:
y = floor_div * x + remainder

In [18]:
result_power = y**x
print(result_power)

169

## Assignment Operators:

In [24]:
x = 5
x = 3+4
print(x)

7

In [25]:
x =5
x += 4
print(x)

9

In [26]:
x = 5
x -= 2
print(x)

3

In [28]:
x = 6
x //= 4
print(x)

1

In [30]:
savings = 1000
savings += (savings*1.4/100)
print(savings)

1014.0

## Comparison Operator:

In [35]:
import math
format(math.pi, '.12g')

'3.14159265359'

In [37]:
format(math.pi, '.2f')

'3.14'

In [38]:
repr(math.pi)

'3.141592653589793'

In [39]:
.1 +.1 +.1 == .3

False

In [40]:
round(.1, 1) +round(.1, 1) +round(.1, 1) == round(.3, 1)

False

In [41]:
round(.1 + .1 + .1, 10) == round(.3, 10)

True

In [53]:
first_num = 2
second_num = 5.2

print((2+3.2) == second_num)

True

In [55]:
print((2.1+3.2) == 5.3) 
#to solve this we need round dunction to be true

False

In [58]:
var1 = 0.1
var2 = 0.2
var3 = 0.3
print(round(var1 + var2, 10) == round(var3, 10))

True

## Logical Operator:

In [66]:
bool("")

False

In [67]:
bool("cat")

True

In [64]:
print("" == False)
print("" == True)

False
False

In [62]:
print("" == True)
#We can not compare strings to boolean and vice versa

False

In [68]:
x = 3
y = 5
z = 10

In [69]:
x > 2

True

In [70]:
y < 1

False

In [71]:
(x > 2) or (y < 1)
# In "or", we need only one statement to be True for the whole expression to be True.

True

In [74]:
(x > 2) and (y < 1)
# In "and", we need all statement to be True for the whole expression to be True.

False

In [75]:
not (x > 2)

False

In [76]:
print(1 == 1.0)

True

In [78]:
bool("") == False

True

In [80]:
first_num = 10
second_num = 50
third_num = 14
bool_exp = ((first_num < second_num) or (first_num > third_num))
print(bool_exp)

True

## Identity Operator:

In [81]:
x  = 1000
y = 1000

In [82]:
print(x == y) #Equality operator, comparing VALUES

True

In [83]:
print(x is y) #Identity operator, comparing VARIABLES(Memory Address)

False

In [84]:
id(x)

2748939401328

In [85]:
id(y)

2748939400624

In [86]:
x =10
y=10

In [87]:
print(x is y)

True

In [88]:
id(x)

140715148781632

In [89]:
id(y)

140715148781632

The current implementation keeps an array of integer objects for all integers -5 and 256, when you create an int in that range you actually just get back a reference to the existing object. So it should be possible to change the value of 1. I suspect the behavior of Python, in this case, is undefined. :-)

In [90]:
var1 = 3
var2 = 5
print(var1 is var2)

False

## Membership Operator

In [91]:
x = "prak"
y = "prak dev"

In [94]:
print(x not in y)
print(x in y)

False
True

## Bitwise Operator:

In [96]:
x= 3

In [97]:
bin(x)

'0b11'

In [98]:
y = 4
bin(y)

'0b100'

In [99]:
z = y | x
print(z)

7

In [100]:
print(bin(z))

0b111

  (100 + 011) = 111
   #That is the binary of 7

In [103]:
x =6
y = 2
z = x | y
a = x & y
print(z)
print(a)

6
2

In [102]:
print(bin(x))
print(bin(y))
print(bin(z))

0b110
0b10
0b110

(110 + 010 = 110) That is binary number of 6
(110 - 010 = 010) That is binary number of 2

In [108]:
x = 20
print(x)

20

In [109]:
print(bin(x))

0b10100

In [110]:
print(bin(~x))

-0b10101

In [111]:
print(~x)
#It will add 1 with the given number with negative sign.

-21

In [116]:
x = 7
print(bin(x))

0b111

In [117]:
print(bin(y))

0b10

In [119]:
print(bin(x^y))
print(x^y)

0b101
5

(111 ^ 010 = 101) In XOR, we have 1 or 1 will be 0. That is the binary of 5.

In [120]:
bin(x)

'0b111'

In [121]:
x >> 1

3

In [122]:
print(bin(7))

0b111

In [123]:
print(bin(3))
#It shifted 1, so the result was 11 instead of 111

0b11

In [128]:
x =20
x >> 1

10

In [125]:
print(bin(20))

0b10100

In [126]:
print(bin(10))
#It shifted the 1 to the right side, so the output is 010 instead of 100.

0b1010

In [129]:
x << 1

40

In [130]:
print(bin(20))

0b10100

In [132]:
print(bin(40))
#It shifted 1 to the lest side, so the output is 1000 instead of 100.

0b101000

In [133]:
var1 = 3
var2 = 7
print(var1 ^ var2)

4